.team div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.team div CardView{
    margin: 10px;
}
.team hr{
    margin:15px 5%;
}
@media screen and (max-width:800px) {
    .team div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}
